body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background-color: #FFFFFF;

}

.container {
    display: flex;
    flex-direction: column;
}

/* Header*/
.header {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    padding: 20px 0px 20px 100px;

}


.links {
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
    margin-left: auto;
}


.header a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 10px;
    font-family: 'Roboto', arial;
}

.logo img {
    width: 84px;
    height: 84px;
    margin-right: auto;
    border-radius: 60%;
}

/*Information part*/
.information {
    background-color: #1F2937;
    font-family: 'Roboto', arial;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paragraph h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bold;
    margin: 0;

}

.information p {
    color: #E5E7EB;
    font-size: 18px;
    opacity: 0.8;
}

.paragraph {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    flex-wrap: wrap;
    margin-left: 150px;
    text-align: left;
}

.information-img img {
    height: 400px;
    width: 500px;
    padding-right: 100px;
}

.paragraph button {
    margin-right: auto;
    text-align: center;
    border-radius: 8px;
    border: none;
    font-family: 'Roboto', arial;
    font-weight: bold;
    background-color: #3882F6;
    color: white;
    width: 120px;
    height: 40px;
}

/* Types of birds*/
.types ul {
    list-style: none;
}

.types h2 {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', arial;
    color: #1F2937;
    font-weight: bolder;
    font-size: 36px;
}

.pictures ul {
    display: flex;
    gap: 15px;
    justify-content: center;

}

.pictures img {
    width: 240px;
    height: 240px;
    border: 5px solid #3882F6;
    border-radius: 10%;
}

.names {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', arial;
    gap: 140px;
    padding-left: 30px;
}

/* Quote*/

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;

}

.quote p {
    font-size: 36px;
    align-self: center;
}

.quote b {
    text-align: right;
    padding-right: 400px;
    font-size: 24px;
}

/* Sign up*/

.signUp {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    background-color: #3882F6;
    margin-left: 170px;
    margin-right: 170px;
    border-radius: 10px;


}

.sign-text {

    font-family: 'Roboto', arial;
    color: white;


}

.sign-text p {
    color: #E5E7EB;
    opacity: 0.8;
}

.sign-button {
    align-self: center;
}

.sign-button button {
    color: #fff;
    background-color: #3882F6;
    border-color: white;
    font-family: 'Roboto', arial;
    font-size: 20px;
    border-radius: 5px;
}

/* Copyright*/

.copyright {
    display: flex;
    background-color: #1F2937;
    align-self: stretch;
    justify-content: center;
}

.copyright p {
    color: white;

}